<header class="bg-indigo-600">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-4 flex items-center justify-between border-b border-indigo-500 lg:border-none">
      <div class="flex items-center">
        <a href="/">
          <span class="sr-only">Workflow</span>
          <img class="h-10 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=white" alt="">
        </a>
        <div class="hidden ml-10 space-x-8 lg:block">
          <a href="/sources/dashboard" class="text-base font-medium text-white hover:text-indigo-50" key="Solutions">
            Résultats du jour
          </a>

          <a href="/sources" class="text-base font-medium text-white hover:text-indigo-50" key="Pricing">
            Sites
          </a>

          <a href="/about" class="text-base font-medium text-white hover:text-indigo-50" key="Docs">
            A propos
          </a>

          <a href="/contact" class="text-base font-medium text-white hover:text-indigo-50" key="Docs">
            Contact
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>