<header class="bg-indigo-600">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-4 flex items-center justify-between border-b border-indigo-500 lg:border-none">
      <div class="flex items-center">
        <a href="/">
          <span class="sr-only">Workflow</span>
          <img class="h-10 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=white" alt="">
        </a>
        <div class="hidden ml-10 space-x-8 lg:block">
          <a href="/sources/dashboard" class="text-base font-medium text-white hover:text-indigo-50" key="Solutions">
            Résultats du jour
          </a>

          <a href="/sources" class="text-base font-medium text-white hover:text-indigo-50" key="Pricing">
            Sites
          </a>

          <a href="/about" class="text-base font-medium text-white hover:text-indigo-50" key="Docs">
            A propos
          </a>

          <a href="/contact" class="text-base font-medium text-white hover:text-indigo-50" key="Docs">
            Contact
          </a>

          <a href="/notes" class="text-base font-medium text-white hover:text-indigo-50" key="Docs">
            Mises à jour
          </a>

          <a href="/posts/un-mois-de-check" class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-indigo-700 bg-indigo-200 hover:bg-indigo-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
            <!-- Heroicon name: solid/plus-sm -->
            <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
            <span>Un mois de checks!</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>